@tailwind base;
@tailwind components;
@tailwind utilities;

/*BUG: for debug css code*/

/* * {
  border: 2px solid green;
} */

html,
body,
#root {
  height: 100%;
}

.optionSelector {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: 100%;
  background-position-y: 50%;
}

.outlineBorderForElement:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #643fdb;
}
