@tailwind base;
@tailwind components;
@tailwind utilities;

/* * { */
/*   border: 2px solid green; */
/* } */

html,
body,
#root {
  height: 100%;
}

.navigationButton {
  @apply py-2 px-4 transition-all text-primary-text-color-light text-center rounded-lg hover:bg-purple-color hover:text-primary-text-color-dark dark:text-primary-text-color-dark;
}

.optionSelector {
  -webkit-appearance: none;
  @apply bg-purple-color text-primary-text-color-dark border-none rounded-sm min-w-[100px] cursor-pointer px-1 bg-no-repeat focus:outline-none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: 100%;
  background-position-y: 50%;
}
